# OSX .DS_Store finder file
.DS_Store

# dataset directories
subset0
subset1
subset2
subset3
subset4
subset5
subset6
subset7
subset8
subset9

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# .hdf5 datasets and .h5 models
*.h5
*.hdf5
